@charset "UTF-8";


h1 {
	font-size: 2.5rem;
	color: #25a9bd;
}

section {
	padding: 10px;
}


/* TODO 여기에 작성해보세요:) */


/* TODO 여기에 작성해보세요:) */


/* TODO 여기에 작성해보세요:) */



/* TODO 여기에 작성해보세요:) */



/* TODO 여기에 작성해보세요:) */
























